<div *ngIf="vessel" class="vessel-info">
    <h6>
        {{ vessel.name }}
        <div>
            <!-- <il-flag [country]="vessel.flag"></il-flag> {{ vessel.flag }} -->
        </div>
    </h6>
    <div class="info-row">
            <!-- <il-line key="Call sign" [value]="vessel.call_sign"></il-line>
            <il-line key="Longitude" [value]="vessel.last_known_position.geometry.coordinates[0]"></il-line>
            <il-line key="Latitude" [value]="vessel.last_known_position.geometry.coordinates[1]"></il-line>
            <il-line key="Id" [value]="vessel.id"></il-line>
            <il-line key="Name" [value]="vessel.name"></il-line>
            <il-line key="Individual Classification" [value]="vessel.individual_classification"></il-line> -->
            <!-- <il-image [src]="vessel.map_data.image"></il-image> -->
    </div>
</div>
