.create-user {
    margin-bottom: 10px;
    cursor: hand;
}

.users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .contact-card {
        width: 300px;
        margin-right: 10px;
    }

}
